In [11]:
import pandas as pd
data = {
    "Tid" : [1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10] ,
    "Refund" : ["yes" , "no" , "no" , "yes" , "no" , "no" , "yes" , "no" , "no" , "no"] ,
    "Marital Status": ["Single", "Married", "Single", "Married", "Divorced", "Married", "Divorced", "Single", "Married", "Single"],
    "Taxable Income": ["125K", "100K", "70K", "120K", "95K", "60K", "220K", "85K", "75K", "90K"],
    "Cheat": ["No", "No", "No", "No", "Yes", "No", "Yes", "Yes", "No", "Yes"]
}
df = pd.DataFrame(data)
print(df)
print("rows with index 0 , 4 , 7 , 8 :")
print(df.loc[[0 , 4 , 7 , 8]])
print("rows from index 3 to 7 :")
print(df.iloc[3:8])
print("row from index 4 to 8 and coloumn from 2 to 4 :")
print(df.iloc[4:8 , 2:5])
print("all rows with coloumn 1 to 3 :")
print(df.iloc[ :, 1:4])

   Tid Refund Marital Status Taxable Income Cheat
0    1    yes         Single           125K    No
1    2     no        Married           100K    No
2    3     no         Single            70K    No
3    4    yes        Married           120K    No
4    5     no       Divorced            95K   Yes
5    6     no        Married            60K    No
6    7    yes       Divorced           220K   Yes
7    8     no         Single            85K   Yes
8    9     no        Married            75K    No
9   10     no         Single            90K   Yes
rows with index 0 , 4 , 7 , 8 :
   Tid Refund Marital Status Taxable Income Cheat
0    1    yes         Single           125K    No
4    5     no       Divorced            95K   Yes
7    8     no         Single            85K   Yes
8    9     no        Married            75K    No
rows from index 3 to 7 :
   Tid Refund Marital Status Taxable Income Cheat
3    4    yes        Married           120K    No
4    5     no       Divorced            95K   Yes
5    6     no        Married            60K    No
6    7    yes       Divorced           220K   Yes
7    8     no         Single            85K   Yes
row from index 4 to 8 and coloumn from 2 to 4 :
  Marital Status Taxable Income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6       Divorced           220K   Yes
7         Single            85K   Yes
all rows with coloumn 1 to 3 :
  Refund Marital Status Taxable Income
0    yes         Single           125K
1     no        Married           100K
2     no         Single            70K
3    yes        Married           120K
4     no       Divorced            95K
5     no        Married            60K
6    yes       Divorced           220K
7     no         Single            85K
8     no        Married            75K
9     no         Single            90K

In [17]:
file = pd.read_csv("/road_accident_dataset.csv")
print(file.head(5))

  Country  Year     Month Day of Week Time of Day Urban/Rural  Road Type  \
0     USA  2002   October     Tuesday     Evening       Rural     Street
1      UK  2014  December    Saturday     Evening       Urban     Street
2     USA  2012      July      Sunday   Afternoon       Urban    Highway
3      UK  2017       May    Saturday     Evening       Urban  Main Road
4  Canada  2002      July     Tuesday   Afternoon       Rural    Highway

  Weather Conditions  Visibility Level  Number of Vehicles Involved  ...  \
0              Windy        220.414651                            1  ...
1              Windy        168.311358                            3  ...
2              Snowy        341.286506                            4  ...
3              Clear        489.384536                            2  ...
4              Rainy        348.344850                            1  ...

   Number of Fatalities Emergency Response Time Traffic Volume  \
0                     2               58.625720    7412.752760
1                     1               58.041380    4458.628820
2                     4               42.374452    9856.915064
3                     3               48.554014    4958.646267
4                     4               18.318250    3843.191463

   Road Condition      Accident Cause Insurance Claims  Medical Cost  \
0             Wet             Weather                4  40499.856982
1    Snow-covered  Mechanical Failure                3   6486.600073
2             Wet            Speeding                4  29164.412982
3             Icy  Distracted Driving                3  25797.212566
4             Icy  Distracted Driving                8  15605.293921

   Economic Loss         Region  Population Density
0   22072.878502         Europe         3866.273014
1    9534.399441  North America         2333.916224
2   58009.145124  South America         4408.889129
3   20907.151302      Australia         2810.822423
4   13584.060759  South America         3883.645634

[5 rows x 30 columns]

In [22]:
file_without_row_4 = file.drop(3)
new_file = file_without_row_4.drop("Month" , axis = 1)
new_file

,Country,Year,Day of Week,Time of Day,Urban/Rural,Road Type,Weather Conditions,Visibility Level,Number of Vehicles Involved,Speed Limit,...,Number of Fatalities,Emergency Response Time,Traffic Volume,Road Condition,Accident Cause,Insurance Claims,Medical Cost,Economic Loss,Region,Population Density
0,USA,2002,Tuesday,Evening,Rural,Street,Windy,220.414651,1,37,...,2,58.625720,7412.752760,Wet,Weather,4,40499.856982,22072.878502,Europe,3866.273014
1,UK,2014,Saturday,Evening,Urban,Street,Windy,168.311358,3,96,...,1,58.041380,4458.628820,Snow-covered,Mechanical Failure,3,6486.600073,9534.399441,North America,2333.916224
2,USA,2012,Sunday,Afternoon,Urban,Highway,Snowy,341.286506,4,62,...,4,42.374452,9856.915064,Wet,Speeding,4,29164.412982,58009.145124,South America,4408.889129
4,Canada,2002,Tuesday,Afternoon,Rural,Highway,Rainy,348.344850,1,98,...,4,18.318250,3843.191463,Icy,Distracted Driving,8,15605.293921,13584.060759,South America,3883.645634
5,India,2010,Monday,Evening,Urban,Street,Snowy,479.216834,2,30,...,4,8.205994,360.951795,Dry,Speeding,7,40980.718164,45995.605252,South America,3626.074027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131995,Germany,2023,Wednesday,Evening,Rural,Main Road,Foggy,351.740871,4,95,...,0,37.405598,1907.208566,Icy,Speeding,3,18640.125887,50695.311876,Asia,173.307333
131996,Brazil,2023,Tuesday,Morning,Rural,Main Road,Foggy,95.563567,1,100,...,4,17.054490,2706.253339,Dry,Drunk Driving,2,48161.129965,20260.167191,Asia,4375.443810
131997,Russia,2021,Wednesday,Afternoon,Urban,Street,Clear,74.112102,3,36,...,3,55.558876,6860.161645,Dry,Speeding,9,24696.058692,8132.133502,Asia,4196.244517
131998,Australia,2002,Tuesday,Morning,Urban,Street,Rainy,276.612565,3,99,...,2,19.100498,1523.299088,Wet,Speeding,8,13486.716680,17607.573072,Europe,2911.904030
131999,USA,2022,Tuesday,Morning,Urban,Street,Windy,253.531380,3,44,...,4,28.037108,7662.853082,Snow-covered,Speeding,6,3240.358544,27765.168982,Asia,2949.568694

In [25]:
data = {
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Edward"],
    "Department": ["HR", "IT", "IT", "Marketing", "Sales"],
    "Age": [25, 34, 30, 28, 38],
    "Salary": [50000, 70000, 60000, 55000, 60000],
    "Years_of_Experience": [2, 10, 4, 5, 12],
    "Joining_Date": ["2020-03-15", "2017-07-19", "2013-06-01", "2021-02-10", "2010-11-25"],
    "Gender": ["Female", "Male", "Male", "Female", "Male"],
    "Bonus": [5000, 7000, 6000, 4500, 5000],
    "Rating": [4.5, 4.8, 4.0, 4.7, 3.5]
}

df = pd.DataFrame(data)
df

,Employee_ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating
0,101,Alice,HR,25,50000,2,2020-03-15,Female,5000,4.5
1,102,Bob,IT,34,70000,10,2017-07-19,Male,7000,4.8
2,103,Charlie,IT,30,60000,4,2013-06-01,Male,6000,4.0
3,104,Diana,Marketing,28,55000,5,2021-02-10,Female,4500,4.7
4,105,Edward,Sales,38,60000,12,2010-11-25,Male,5000,3.5

In [26]:
shape = df.shape
print("shape of the dataframe is : " , shape)

shape of the dataframe is :  (5, 10)

In [28]:
summary = df.dtypes
print(summary)

Employee_ID              int64
Name                    object
Department              object
Age                      int64
Salary                   int64
Years_of_Experience      int64
Joining_Date            object
Gender                  object
Bonus                    int64
Rating                 float64
dtype: object

In [29]:
stats = df.describe()
print(stats)

       Employee_ID       Age        Salary  Years_of_Experience   Bonus  \
count     5.000000   5.00000      5.000000             5.000000     5.0
mean    103.000000  31.00000  59000.000000             6.600000  5500.0
std       1.581139   5.09902   7416.198487             4.219005  1000.0
min     101.000000  25.00000  50000.000000             2.000000  4500.0
25%     102.000000  28.00000  55000.000000             4.000000  5000.0
50%     103.000000  30.00000  60000.000000             5.000000  5000.0
75%     104.000000  34.00000  60000.000000            10.000000  6000.0
max     105.000000  38.00000  70000.000000            12.000000  7000.0

         Rating
count  5.000000
mean   4.300000
std    0.543139
min    3.500000
25%    4.000000
50%    4.500000
75%    4.700000
max    4.800000

In [30]:
print("first 5 rows : ")
print(df.head(5))
print("last 3 rows : ")
print(df.tail(3))

first 5 rows :
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   25   50000                    2
1          102      Bob         IT   34   70000                   10
2          103  Charlie         IT   30   60000                    4
3          104    Diana  Marketing   28   55000                    5
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.8
2   2013-06-01    Male   6000     4.0
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
last 3 rows :
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   30   60000                    4
3          104    Diana  Marketing   28   55000                    5
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     4.0
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

In [36]:
print(df["Salary"].mean())
print(df["Bonus"].sum())
print(df["Age"].min())
print(df["Rating"].max())

59000.0
27500
25
4.8

In [37]:
print(df.sort_values(by = "Salary" , ascending = False))

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                   10
2          103  Charlie         IT   30   60000                    4
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    5
0          101    Alice         HR   25   50000                    2

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.8
2   2013-06-01    Male   6000     4.0
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

In [40]:
def performance(rating):
  if rating >= 4.5 :
    return "Excellent"
  elif rating >= 4.0 and rating < 4.5:
    return "Good"
  else:
    return "Average"

df["Performance"] = df["Rating"].apply(performance)
df

,Employee_ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating,Performance
0,101,Alice,HR,25,50000,2,2020-03-15,Female,5000,4.5,Excellent
1,102,Bob,IT,34,70000,10,2017-07-19,Male,7000,4.8,Excellent
2,103,Charlie,IT,30,60000,4,2013-06-01,Male,6000,4.0,Good
3,104,Diana,Marketing,28,55000,5,2021-02-10,Female,4500,4.7,Excellent
4,105,Edward,Sales,38,60000,12,2010-11-25,Male,5000,3.5,Average

In [41]:
missing_values = df.isnull().sum()
print(missing_values)

Employee_ID            0
Name                   0
Department             0
Age                    0
Salary                 0
Years_of_Experience    0
Joining_Date           0
Gender                 0
Bonus                  0
Rating                 0
Performance            0
dtype: int64

In [45]:
df.rename(columns = {"Employee_ID" : "ID"} , inplace = True)
df

,ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating,Performance
0,101,Alice,HR,25,50000,2,2020-03-15,Female,5000,4.5,Excellent
1,102,Bob,IT,34,70000,10,2017-07-19,Male,7000,4.8,Excellent
2,103,Charlie,IT,30,60000,4,2013-06-01,Male,6000,4.0,Good
3,104,Diana,Marketing,28,55000,5,2021-02-10,Female,4500,4.7,Excellent
4,105,Edward,Sales,38,60000,12,2010-11-25,Male,5000,3.5,Average

In [46]:
print(df[(df["Years_of_Experience"] > 5) & (df["Department"] == "IT")]  )

    ID Name Department  Age  Salary  Years_of_Experience Joining_Date Gender  \
1  102  Bob         IT   34   70000                   10   2017-07-19   Male

   Bonus  Rating Performance
1   7000     4.8   Excellent

In [48]:
df["Tax"] = df["Salary"] * 0.1
df

,ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating,Performance,Tax
0,101,Alice,HR,25,50000,2,2020-03-15,Female,5000,4.5,Excellent,5000.0
1,102,Bob,IT,34,70000,10,2017-07-19,Male,7000,4.8,Excellent,7000.0
2,103,Charlie,IT,30,60000,4,2013-06-01,Male,6000,4.0,Good,6000.0
3,104,Diana,Marketing,28,55000,5,2021-02-10,Female,4500,4.7,Excellent,5500.0
4,105,Edward,Sales,38,60000,12,2010-11-25,Male,5000,3.5,Average,6000.0

In [49]:
df.to_csv("Employees Data")

In [53]:
newdf = pd.read_csv("/content/Employees Data")
newdf

,Unnamed: 0,ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating,Performance,Tax
0,0,101,Alice,HR,25,50000,2,2020-03-15,Female,5000,4.5,Excellent,5000.0
1,1,102,Bob,IT,34,70000,10,2017-07-19,Male,7000,4.8,Excellent,7000.0
2,2,103,Charlie,IT,30,60000,4,2013-06-01,Male,6000,4.0,Good,6000.0
3,3,104,Diana,Marketing,28,55000,5,2021-02-10,Female,4500,4.7,Excellent,5500.0
4,4,105,Edward,Sales,38,60000,12,2010-11-25,Male,5000,3.5,Average,6000.0